* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.left {
    display: flex;
    width: 70%;
    padding: 30px;
    height: 100%;
    overflow: scroll;
}

.left::-webkit-scrollbar {
    display: none;
}

.left-main {
    display: flex;
    width: 100%;
    height: fit-content;
    border: 1.5px solid rgb(148, 139, 139);
    border-radius: 10px;
    flex-direction: column;
}


.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 25px;

    border-bottom: 1.5px solid rgb(148, 139, 139);
    height: fit-content;
    padding: 15px 0;
    padding-left: 30px;

}

.main,.employee-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}



.company-card,
.employee-card {
    display: flex;
    flex-direction: column;
    border: 1.5px solid rgb(148, 139, 139);
    border-radius: 10px;

}

.company-card>.top,
.detail-profile-overview,
.employee-list-top
 {
    /* position: relative;
    left:-1px; */
    border-bottom: 1.5px solid rgb(148, 139, 139);
    width: 100%;
    display: flex;
    padding: 10px 0;
    padding-left: 20px;
    background-color: rgb(0, 0, 0, 0.1);
    color: rgb(0, 183, 255);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 20px;
}

.company-card>.middle,
.detail-profile-main,
.employee-card-middle {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-profile-main {
    flex-direction: row;
    gap: 150px;
}

.company-card>.middle>.bubble,
.detail-profile-main-box
 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.company-card>.middle>.bubble>.title-company,
.detail-profile-main-box-title {
    font-weight: 700;
}

.company-card>.middle>.bubble>.data,
.detail-profile-main-box-data {
    color: rgb(0, 0, 0, 0.7);
    font-size: 15px;
}

.company-card>.bottom,
.detail-profile-bottom {
    border-top: 1.5px solid rgb(148, 139, 139);
    width: 100%;
    display: flex;
    padding: 10px 0;
    padding-left: 20px;
    background-color: rgb(0, 0, 0, 0.1);
    color: rgb(0, 183, 255);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    align-items: flex-start;
    gap: 20px;
    padding: 30px 20px;
}

.form-company {
    display: flex;
    flex-direction: column;
    border: 1.5px solid rgb(148, 139, 139);
    border-radius: 10px;
    width: 80%;
    padding-bottom: 15px;
}

.form-company>.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-bottom: 1.5px solid rgb(148, 139, 139);
    height: fit-content;
    padding: 15px;

}

.form-company>.form-body {
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding: 10px;
    flex-direction: column;
    color: rgb(0, 0, 0, 0.7);
    gap: 5px;

}

.create-company-btn {
    width: fit-content;
    padding: 3px 40px;
    margin-left: 15px;
    border-radius: 4px;
}

span {

    display: block;
}

.form-employee {
    display: flex;
    flex-direction: column;
    border: 1.5px solid rgb(148, 139, 139);
    border-radius: 10px;
    width: 80%;
    padding-bottom: 15px;
}

.form-employee>.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-bottom: 1.5px solid rgb(148, 139, 139);
    height: fit-content;
    padding: 15px;

}

.form-employee>.form-body {
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding: 10px;
    flex-direction: column;
    color: rgb(0, 0, 0, 0.7);
    gap: 5px;

}

.create-employee-btn {
    width: fit-content;
    padding: 3px 20px;
    margin-left: 15px;
    border-radius: 4px;
}

.link-btn {
    cursor: pointer;
}



.detail-container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    gap: 20px;
    
}

.detail-profile,
.detail-employee-list {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1.5px solid rgb(148, 139, 139);
    border-radius: 10px;
}

.employee-list-top{
    padding-top:15px;
    padding-bottom:35px;
}

input{
    border:1.5px solid rgb(148, 139, 139);
    border-radius:2px ;
    height:1.56em;
    width:170px;
}
label{
    font-weight:600;
}